.page::before {
    content: '';
    width: 1px;
    height: 100%;
    background: rgb(227, 217, 154);
    top: 40px;
    position: absolute;
}


@keyframes pageTurn {
    0% {
        transform: translateX(100%) rotateY(0deg);
        opacity: 0;
    }

    100% {
        transform: translateX(0) rotateY(0deg);
        opacity: 1;
    }
}

.animate-page-turn {
    animation: pageTurn 1s ease-in-out forwards;
    transform: translateX(100%);
    opacity: 0;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%) rotateY(0deg);
    }

    100% {
        transform: translateX(0) rotateY(0deg);
    }
}

.animate-slide-in {
    animation: slideIn 0.9s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 1.85s;
    opacity: 0;
}